/* reset global E INPORTAÇÃO DE FONTE */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family:"Lexend Deca", sans-serif;
}

/* codigos de cores root */

:root{
    --font-: "Big Shoulders Display", sans-serif;
    --amarelo: hsl(31, 77%, 52%);
    --azulclaro: hsl(184, 88%, 27%);
    --verdeclaro: hsl(179, 100%, 13%);
}

/* stilos no corpo */
body{
    width: 100%;
    min-height: 100vh;
    background-color: #000;
}

/* container */
body .container{
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container .cards{
    background-color: var(--amarelo);

    max-width: 270px;
    border-radius: 1rem;
    padding: 20px;
}

.container .cards h1{
    font-size: 3rem;
    margin-top: 1.3rem;
    font-family: var(--font-);
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.container .cards p{
    margin: 20px 0 50px 0px;
    width: 80%;
    line-height: 1.7rem;

    color: #fff;
}

.container .cards .btn{
    outline: none;
    border: 0;
    padding: 12px 30px;
    border-radius: 20px;
    color: var(--amarelo);
    font-size: 1rem;
}

/* hover */

.container .cards .btn:hover{
    background-color: transparent;
    outline: 1px solid #fff;
    color: #fff;
}

/* card 2 */
.container .cards2{
    background-color: var(--azulclaro);
}

.container .cards2 .btn{
    color: var(--azulclaro);
}

/* card 3 */

.container .cards3{
    background-color: var(--verdeclaro)
}

.container .cards3 .btn{
    color: var(--verdeclaro);
}

/* footer */

footer{
    padding: 20px;
}

footer p{
    font-size: 1.1rem;
    font-family: var(--font-);
    text-align: center;
    color: #fff;
    font-weight: normal;
    letter-spacing: 2px;
}

footer p a{
    text-decoration: none;
    color: var(--amarelo);
}

/* media screem mobile */
@media screen and (max-width:768px) {
    .container{
        flex-direction: column;
        margin: 20px 0 20px;
    }
    .container .cards{
        max-width: 80%;
    }
}
